.choose-team-header{
  width: auto;
}
.instructions{
  width: auto;
}
.next-game-row, .next-game-row-game-info{
  display: flex;
  align-items: center;
}

.next-game-cell {
  flex: 1;
  text-align: center;
  padding: 10px;
  font-size: 20px;
  font-weight: 600;
}
.next-game-date-header {
  border-left: 1px solid #CCC;
  border-top-left-radius: 15px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.next-game-opponent-header {
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
}
.next-game-time-header {
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
}
.next-game-channel-header {
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  border-top-right-radius: 15px;
}
.next-game-date {
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-bottom-left-radius: 15px;
}
.next-game-opponent {
  border-bottom: 1px solid #ccc;
}
.next-game-time {
  border-bottom: 1px solid #ccc;
}
.next-game-channel {
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-bottom-right-radius: 15px;
}

.team-data {
  scroll-behavior: smooth;
  text-align: center; /* Use text-align to center content */
  margin: 50px;
  padding: 10px;
}


h2{
  position:relative;
}

.team_schedule_table{
  border-collapse: collapse;
  width: 100%;
  position: relative;
  border-spacing: 0;
  padding: 10px;
  margin: 10px;
  border-bottom: 1px solid #6c6d6f;
}

.table-column-names{
  padding: 10px;
  margin: 5px;
  border-bottom: 1px solid #6c6d6f;
  border: 1px solid #6c6d6f;
}
.date-header{
  border: 1px solid #6c6d6f;
}
.opponent-header{
  border: 1px solid #6c6d6f;
}
.time-header{
  border: 1px solid #6c6d6f;
}
.channel-header{
  border: 1px solid #6c6d6f;
}
.game-data{
  border: 1px solid #6c6d6f;
}
.date{
  border: 1px solid #6c6d6f;
}
.time{
  border: 1px solid #6c6d6f;
}
.opponent{
  border: 1px solid #6c6d6f;
}
.channel{
  border: 1px solid #6c6d6f;
}

/* Media query for small screens */
@media screen and (max-width: 768px) {
  .next-game-cell {
    font-size: 16px;
  }
  .next-game-header {
    font-size: 18px;
  }
  .next-game-row, .next-game-row-game-info {
    display: inline-block;
    border: 1px solid #ccc;
  }
  .next-game-row {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
  }
  .next-game-row-game-info {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
  }

  .next-game-cell {
    text-align: left; /* Adjust text alignment for smaller screens */
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
  }
  .next-game-channel-header, 
  .next-game-channel{
    border: none;
  }
  



}

