.team-navigation-bar {
    display: flex;
    width: 100%;
    overflow-x: auto;
    height: 40px;
    padding: 10px;
    scroll-behavior: smooth;
    background-color: #1d428a;
  }
  
  .team-navigation-item {
    display: flex;
    color: #c8102e;
    border-radius: 10px;
    font-weight: 600;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px 15px;
    font-size: 20px;
    white-space: nowrap;
    cursor: pointer;
    transition: background-color .5s;
    transition: font-size .3s;
  } 
  /* -------code to change NBA teams to team colors when hovered --------*/
  .team-atlanta-hawks:hover {
    background-color: #E03A3E;
    color: #C1D32F;
    font-size: 25px;
  }
  .team-boston-celtics:hover {
    background-color: #007A33;
    color: #BA9653;
    font-size: 25px;
  }
  .team-brooklyn-nets:hover {
    background-color: #ffffff;
    color: #000000;
    font-size: 25px;
  }
  .team-charlotte-hornets:hover {
    background-color: #00788C;
    color: #A1A1A4;
    font-size: 25px;
  }
  .team-chicago-bulls:hover {
    background-color: #CE1141;
    color: #000000;
    font-size: 25px;
  }
  .team-cleveland-cavaliers:hover {
    background-color: #860038;
    color: #FDBB30;
    font-size: 25px;
  }
  .team-dallas-mavericks:hover {
    background-color: #B8C4CA;
    color: #002B5C;
    font-size: 25px;
  }
  .team-denver-nuggets:hover {
    background-color: #FEC524;
    color: #1D428A;
    font-size: 25px;
  }
  .team-detroit-pistons:hover {
    background-color: #BEC0C2;
    color: #1D42BA;
    font-size: 25px;
  }
  .team-golden-state-warriors:hover {
    background-color: #FFC72C;
    color: #1D428A;
    font-size: 25px;
  }
  .team-houston-rockets:hover {
    background-color: #CE1141;
    color: #373a36;
    font-size: 25px;
  }
  .team-indiana-pacers:hover {
    background-color: #FDBB30;
    color: #002D62;
    font-size: 25px;
  }
  .team-los-angeles-clippers:hover {
    background-color: #ffffff;
    color: #000000;
    font-size: 25px;
  }
  .team-los-angeles-lakers:hover {
    background-color: #552583;
    color: #FDB927;
    font-size: 25px;
  }
  .team-memphis-grizzlies:hover {
    background-color: #12173F;
    color: #5D76A9;
    font-size: 25px;
  }
  .team-miami-heat:hover {
    background-color: #000000;
    color: #98002E;
    font-size: 25px;
  }
  .team-milwaukee-bucks:hover {
    background-color: #EEE1C6;
    color: #00471B;
    font-size: 25px;
  }
  .team-minnesota-timberwolves:hover {
    background-color: #78BE20;
    color: #0C2340;
    font-size: 25px;
  }
  .team-new-orleans-pelicans:hover {
    background-color: #85714D;
    color: #0C2340;
    font-size: 25px;
  }
  .team-new-york-knicks:hover {
    background-color: #006BB6;
    color: #F58426;
    font-size: 25px;
  }
  .team-oklahoma-city-thunder:hover {
    background-color: #007AC1;
    color: #EF3B24;
    font-size: 25px;
  }
  .team-orlando-magic:hover {
    background-color: #C4CED4;
    color: #0077C0;
    font-size: 25px;
  }
  .team-philadelphia-76ers:hover {
    background-color: #ED174C;
    color: #006BB6;
    font-size: 25px;
  }
  .team-phoenix-suns:hover {
    background-color: #E56020;
    color: #1D1160;
    font-size: 25px;
  }
  .team-portland-trail-blazers:hover {
    background-color: #E03A3E;
    color: #000000;
    font-size: 25px;
  }
  .team-sacramento-kings:hover {
    background-color: #5A2D81;
    color: #63727A;
    font-size: 25px;
  }
  .team-san-antonio-spurs:hover {
    background-color: #C4CED4;
    color: #000000;  
    font-size: 25px;
  }
  .team-toronto-raptors:hover {
    background-color: #CE1141;
    color: #000000;
    font-size: 25px;
  }
  .team-utah-jazz:hover {
    background-color: #002B5C;
    color: #F9A01B;
    font-size: 25px;
  }
  .team-washington-wizards:hover {
    background-color: #E31837;
    color: #002B5C;
    font-size: 25px;
  }

  /*-------------code to change NFL team colors when hovered-----------*/
  .team-arizona-cardinals:hover {
    background-color: #97233F;
    color: #FFB612;
    font-size: 25px;
  }
  .team-atlanta-falcons:hover {
    background-color: #000000;
    color: #A5ACAF;
    font-size: 25px;
  }

  .team-baltimore-ravens:hover {
    background-color: #241773;
    color: #9E7C0C;
    font-size: 25px;
  }
  .team-buffalo-bills:hover {
    background-color: #00338D;
    color: #C60C30;
    font-size: 25px;
  }
  .team-carolina-panthers:hover {
    background-color: #0085CA;
    color: #101820;
    font-size: 25px;
  }
  .team-chicago-bears:hover {
    background-color: #0B162A;
    color: #C83803;
    font-size: 25px;
  }
  .team-cincinnati-bengals:hover {
    background-color: #FB4F14;
    color: #000000;
    font-size: 25px;
  }
  .team-cleveland-browns:hover {
    background-color: #311D00;
    color: #FF3C00;
    font-size: 25px;
  }
  .team-dallas-cowboys:hover {
    background-color: #003594;
    color: #869397;
    font-size: 25px;
  }
  .team-denver-broncos:hover {
    background-color: #FB4F14;
    color: #002244;
    font-size: 25px;
  }
  .team-detroit-lions:hover {
    background-color: #0076B6;
    color: #000000;
    font-size: 25px;
  }
  .team-green-bay-packers:hover {
    background-color: #203731;
    color: #FFB612;
    font-size: 25px;
  }
  .team-houston-texans:hover {
    background-color: #03202F;
    color: #A71930;
    font-size: 25px;
  }
  .team-indianapolis-colts:hover {
    background-color: #002C5F;
    color: #A2AAAD;
    font-size: 25px;
  }
  .team-jacksonville-jaguars:hover {
    background-color: #006778;
    color: #D7A22A;
    font-size: 25px;
  }
  .team-kansas-city-chiefs:hover {
    background-color: #E31837;
    color: #FFB81C;
    font-size: 25px;
  }
  .team-las-vegas-raiders:hover {
    background-color: #000000;
    color: #A5ACAF;
    font-size: 25px;
  }
  .team-los-angeles-chargers:hover {
    background-color: #0080C6;
    color: #002244;
    font-size: 25px;
  }
  .team-los-angeles-rams:hover {
    background-color: #003594;
    color: #FFA300;
    font-size: 25px;
  }
  .team-miami-dolphins:hover {
    background-color: #008E97;
    color: #FC4C02;
    font-size: 25px;
  }
  .team-minnesota-vikings:hover {
    background-color: #4F2683;
    color: #FFC62F;
    font-size: 25px;
  }
  .team-new-england-patriots:hover {
    background-color: #002244;
    color: #C60C30;
    font-size: 25px;
  }
  .team-new-orleans-saints:hover {
    background-color: #D3BC8D;
    color: #101820;
    font-size: 25px;
  }
  .team-new-york-giants:hover {
    background-color: #0B2265;
    color: #A71930;
    font-size: 25px;
  }
  .team-new-york-jets:hover {
    background-color: #125740;
    color: #FFFFFF;
    font-size: 25px;
  }
  .team-philadelphia-eagles:hover {
    background-color: #004C54;
    color: #A5ACAF;
    font-size: 25px;
  }
  .team-pittsburgh-steelers:hover {
    background-color: #FFB612;
    color: #101820;
    font-size: 25px;
  }
  .team-san-francisco-49ers:hover {
    background-color: #AA0000;
    color: #85714D;
    font-size: 25px;
  }
  .team-seattle-seahawks:hover {
    background-color: #002244;
    color: #69BE28;
    font-size: 25px;
  }
  .team-tampa-bay-buccaneers:hover {
    background-color: #D50A0A;
    color: #FF7900;
    font-size: 25px;
  }
  .team-tennessee-titans:hover {
    background-color: #4B92DB;
    color: #002244;
    font-size: 25px;
  }
  .team-washington-commanders:hover {
    background-color: #773141;
    color: #FFB612;
    font-size: 25px;
  }
  .team-arizona-diamondbacks:hover {
    background-color: #A71930;
    color: #000000;
    font-size: 25px;
}

.team-atlanta-braves:hover {
    background-color: #CE1141;
    color: #003366;
    font-size: 25px;
}

.team-baltimore-orioles:hover {
    background-color: #DF4601;
    color: #000000;
    font-size: 25px;
}

.team-boston-red-sox:hover {
    background-color: #BD3039;
    color: #0555D7;
    font-size: 25px;
}

.team-chicago-cubs:hover {
    background-color: #0E3386;
    color: #CC3433;
    font-size: 25px;
}

.team-chicago-white-sox:hover {
    background-color: #000000;
    color: #C4CED4;
    font-size: 25px;
}

.team-cincinnati-reds:hover {
    background-color: #C6011F;
    color: #000000;
    font-size: 25px;
}

.team-cleveland-guardians:hover {
    background-color: #E31937;
    color: #00205B;
    font-size: 25px;
}

.team-colorado-rockies:hover {
    background-color: #333366;
    color: #C4CED4;
    font-size: 25px;
}

.team-detroit-tigers:hover {
    background-color: #0C2C56;
    color: #FA4616;
    font-size: 25px;
}

.team-houston-astros:hover {
    background-color: #EB6E1F;
    color: #002D62;
    font-size: 25px;
}

.team-kansas-city-royals:hover {
    background-color: #004687;
    color: #BD9B60;
    font-size: 25px;
}

.team-los-angeles-angels:hover {
    background-color: #C8102E;
    color: #003263;
    font-size: 25px;
}

.team-los-angeles-dodgers:hover {
    background-color: #005A9C;
    color: #FFFFFF;
    font-size: 25px;
}

.team-miami-marlins:hover {
    background-color: #00A3E0;
    color: #FF6600;
    font-size: 25px;
}

.team-milwaukee-brewers:hover {
    background-color: #13294B;
    color: #FFC52F;
    font-size: 25px;
}

.team-minnesota-twins:hover {
    background-color: #002B5C;
    color: #D31145;
    font-size: 25px;
}

.team-new-york-mets:hover {
    background-color: #002D72;
    color: #FF5910;
    font-size: 25px;
}

.team-new-york-yankees:hover {
    background-color: #003087;
    color: #E4002B;
    font-size: 25px;
}

.team-oakland-athletics:hover {
    background-color: #003831;
    color: #EFB21E;
    font-size: 25px;
}

.team-philadelphia-phillies:hover {
    background-color: #E81828;
    color: #002D72;
    font-size: 25px;
}

.team-pittsburgh-pirates:hover {
    background-color: #FFB712;
    color: #000000;
    font-size: 25px;
}

.team-san-diego-padres:hover {
    background-color: #2F241D;
    color: #00A3E0;
    font-size: 25px;
}

.team-san-francisco-giants:hover {
    background-color: #FD5A1E;
    color: #000000;
    font-size: 25px;
}

.team-seattle-mariners:hover {
    background-color: #005C5C;
    color: #002D72;
    font-size: 25px;
}

.team-st-louis-cardinals:hover {
    background-color: #C41E3A;
    color: #FFC52F;
    font-size: 25px;
}

.team-tampa-bay-rays:hover {
    background-color: #8FBCE6;
    color: #00285D;
    font-size: 25px;
}

.team-texas-rangers:hover {
    background-color: #003278;
    color: #C0111F;
    font-size: 25px;
}

.team-toronto-blue-jays:hover {
    background-color: #134A8E;
    color: #1D2D5C;
    font-size: 25px;
}

.team-washington-nationals:hover {
    background-color: #AB0003;
    color: #162733;
    font-size: 25px;
}

/* For NHL Teams */
.team-anaheim-ducks:hover {
  background-color: #FF8C1A;
  color: #11161D;
  font-size: 25px;
}
.team-arizona-coyotes:hover {
  background-color: #8C2633;
  color: #E2D6B5;
  font-size: 25px;
}
.team-boston-bruins:hover {
  background-color: #FFB81C;
  color: #000000;
  font-size: 25px;
}
.team-buffalo-sabres:hover {
  background-color: #002654;
  color: #FDBB2F;
  font-size: 25px;
}
.team-calgary-flames:hover {
  background-color: #C8102E;
  color: #FFC758;
  font-size: 25px;
}
.team-carolina-hurricanes:hover {
  background-color: #E03A3E;
  color: #000000;
  font-size: 25px;
}
.team-chicago-blackhawks:hover {
  background-color: #CF0A2C;
  color: #FFF;
  font-size: 25px;
}
.team-colorado-avalanche:hover {
  background-color: #6F263D;
  color: #236192;
  font-size: 25px;
}
.team-columbus-blue-jackets:hover {
  background-color: #002654;
  color: #CE1126;
  font-size: 25px;
}
.team-dallas-stars:hover {
  background-color: #006847;
  color: #8F8F8C;
  font-size: 25px;
}
.team-detroit-red-wings:hover {
  background-color: #CE1126;
  color: #FFFFFF;
  font-size: 25px;
}
.team-edmonton-oilers:hover {
  background-color: #041E42;
  color: #FF4C00;
  font-size: 25px;
}
.team-florida-panthers:hover {
  background-color: #041E42;
  color: #B9975B;
  font-size: 25px;
}
.team-los-angeles-kings:hover {
  background-color: #11161D;
  color: #A2AAAD;
  font-size: 25px;
}
.team-minnesota-wild:hover {
  background-color: #154734;
  color: #A6192E;
  font-size: 25px;
}
.team-montreal-canadiens:hover {
  background-color: #AF1E2D;
  color: #192168;
  font-size: 25px;
}
.team-nashville-predators:hover {
  background-color: #FFB81C;
  color: #041E42;
  font-size: 25px;
}
.team-new-jersey-devils:hover {
  background-color: #C8102E;
  color: #000000;
  font-size: 25px;
}
.team-new-york-islanders:hover {
  background-color: #00539B;
  color: #F47D30;
  font-size: 25px;
}
.team-new-york-rangers:hover {
  background-color: #0038A8;
  color: #CE1126;
  font-size: 25px;
}
.team-ottawa-senators:hover {
  background-color: #C8102E;
  color: #000000;
  font-size: 25px;
}
.team-philadelphia-flyers:hover {
  background-color: #FF8C1A;
  color: #000000;
  font-size: 25px;
}
.team-pittsburgh-penguins:hover {
  background-color: #000000;
  color: #FCB514;
  font-size: 25px;
}
.team-san-jose-sharks:hover {
  background-color: #006D75;
  color: #E76221;
  font-size: 25px;
}
.team-seattle-kraken:hover {
  background-color: #82BEDE;
  color: #005DAA;
  font-size: 25px;
}
.team-st-louis-blues:hover {
  background-color: #002F87;
  color: #FCB514;
  font-size: 25px;
}
.team-tampa-bay-lightning:hover {
  background-color: #002868;
  color: #01A7E4;
  font-size: 25px;
}
.team-toronto-maple-leafs:hover {
  background-color: #00205B;
  color: #FFFFFF;
  font-size: 25px;
}
.team-vancouver-canucks:hover {
  background-color: #00205B;
  color: #00843D;
  font-size: 25px;
}
.team-vegas-golden-knights:hover {
  background-color: #B4975A;
  color: #000000;
  font-size: 25px;
}
.team-washington-capitals:hover {
  background-color: #041E42;
  color: #C8102E;
  font-size: 25px;
}
.team-winnipeg-jets:hover {
  background-color: #041E42;
  color: #004C97;
  font-size: 25px;
}

  .team-abbreviation {
    display: block;
  }
  
  .team-name {
    display: none;
  }
  
  .team-navigation-item:hover .team-abbreviation {
    display: none;
  }
  
  .team-navigation-item:hover .team-name {
    display: block;
  }

  