.next-game-row{
  display: flex;
  align-items: center;
}
.next-game-cell {
  flex: 1;
  text-align: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 15px;
}
.next-game-row-game-info{
  display: flex;
  align-items: center;
}
.team-data {
  scroll-behavior: smooth;
  text-align: center; /* Use text-align to center content */
  margin: 50px;
  padding: 10px;
}


h2{
  position:relative;
}

.team_schedule_table{
  border-collapse: collapse;
  width: 100%;
  position: relative;
  border-spacing: 0;
  padding: 10px;
  margin: 10px;
  border-bottom: 1px solid #6c6d6f;
}

.table-column-names{
  padding: 10px;
  margin: 5px;
  border-bottom: 1px solid #6c6d6f;
  border: 1px solid #6c6d6f;
}
.date-header{
  border: 1px solid #6c6d6f;
}
.opponent-header{
  border: 1px solid #6c6d6f;
}
.time-header{
  border: 1px solid #6c6d6f;
}
.channel-header{
  border: 1px solid #6c6d6f;
}
.game-data{
  border: 1px solid #6c6d6f;
}
.date{
  border: 1px solid #6c6d6f;
}
.time{
  border: 1px solid #6c6d6f;
}
.opponent{
  border: 1px solid #6c6d6f;
}
.channel{
  border: 1px solid #6c6d6f;
}